:root {
  --font-family: "Nunito Sans", sans-serif;
  --font-home: 14px;
  --font-detail: 16px;
  --font-300: 300;
  --font-600: 600;
  --font-800: 800;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-dark: hsl(207, 26%, 17%);
  --very-dark-blue-light: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-dark-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px auto;
  align-items: center;
  grid-template-areas:
    "header"
    "main";
}

.container {
  padding: 16px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  grid-area: "header";
}

.main {
  grid-area: "main";
  background: var(--very-dark-gray);
}

.main.dark {
  background: var(--very-dark-blue-dark);
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 16px 0;
  }
}
